/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

/* classi utili */
.nero{
    color: #000000;
}

.dodici {
    font-size: 12px;
}

/* Regole generali */
a {
    text-decoration: none;
}

.margine{
    width: 1300px;
    margin: auto;
}

/* Header */
header {
    background-color: orangered;
}

header > div {
    display: flex;
    justify-content: space-around;
}

/* Blocco finale */
.blocco{
    background-color: #000000;
}

.blocco > div {
    display: flex;
    justify-content: space-around;
}

/* Main */

.cards{
    padding-top: 57px;
    padding-bottom: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Stile Card */
.card{
    width: calc(90% / 3);
    padding-bottom: 30px;
}

.imagecard {
    position: relative;
    display: inline-block;
}

.imagecard > img {
    width: calc(100%);
}

.imagecard > .seconda{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.imagecard:hover .seconda{
    display: inline;
}

.imagecard > .preferiti {
    background-color: #ffffff;
    width: fit-content;
    position: absolute;
    z-index: 2;
    left: 90%;
    top: 10%;
    padding: 10px;
}

.preferiti > i {
    font-size: 20px;
}

.card-bottom > .nome {
    font-size: 13px;
    font-weight: bold;
}

.card-bottom > .prezzo > .attuale {
    color: #ff0000;
    font-weight: bold;
}

.card-bottom > .prezzo > .partenza {
    text-decoration: line-through;
}

.etichette {
    font-weight: bold;
    position: absolute;
    top: 90%;
    z-index: 2;
    display: flex;
}
.etichette > .sconto {
    width: fit-content;
    background-color: #ff0000;
    padding: 5px;
}

.etichette > .sostenibilità {
    width: fit-content;
    background-color: green;
    margin-left: 5px;
    padding: 5px;
}