/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

/* classi utili */
.nero{
    color: #000000;
}

/* Regole generali */
a {
    text-decoration: none;
}

margine{
    width: 1400px;
    margin: auto;
}

/* Header */
header > div {
    display: flex;
    background-color: orangered;
    justify-content: space-around;
}

/* Blocco finale */
.blocco{
    background-color: #000000;
}

.blocco > div {
    display: flex;
    justify-content: space-around;
}

/* Stile Card */

.card-top > img{
    width: calc(100% / 3);
    position: relative;
    display: inline-block;
}

.card-top > .hover{
    display: none;
    position: absolute;
    z-index: 1;
}

.card-top:hover .hover{
    display: inline;
}

.card-top > .preferiti {
    background-color: #ffffff;
    width: fit-content;
    position: absolute;
    left: 280px;
    top: 80px;
}

.card-bottom > .marca {
    font-size: 12px;
}

.card-bottom > .nome {
    font-size: 13px;
    font-weight: bold;
}

.card-bottom > .prezzo {
    font-size: 12px;
}

.card-bottom > .prezzo > .attuale {
    color: #ff0000;
    font-weight: bold;
}

.card-bottom > .prezzo > .partenza {
    text-decoration: line-through;
}
